<style>
    header {
        width: 100vw;
        height: 400px;
        background-color: #dae3f3; /*doesnt work*/
        overflow: hidden; /*doesnt work*/
    }
    .imgheader {
        width: 100%;
        height: 400px; 
        object-fit: cover;
        object-position: top;
        background-position-y: top; /* doesnt work*/
        opacity: 0.5;
    }
    .headerphotoquote {
        position: absolute;
        top: 75px;
        right: 0;
        left: 0;
        margin-right: auto; 
        margin-left: auto;
    }
    body {
        padding:0;
        margin:0;
        font-family: Arial;
        text-align:center;
    }
    .profilephoto {
        padding-bottom: 50px;
        display: inline-block;
        margin-left: auto;  
        margin-right: auto;
        vertical-align: auto;
    }
    .quote {
        background-color: white;
        border-radius: 10px;
        padding: 30px 40px 20px 40px;
        box-shadow: 5px 5px 15px grey;
        display: inline-block; /* doenst work*/
        margin-left: 50px;
        margin-right: auto;
        margin-top: 50px;
        vertical-align: top;
    }
    .programmingexpcontainer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .blocktext {
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }
    #imagecode {
        border: 1px solid black;
        padding: 20px;
        display: inline-block;
        position: relative;
        max-width: 50px;
        height: auto;
        overflow: hidden;
        border-radius: 50%;
        margin-left: auto;  
        margin-right: auto;
        margin-top: 25px;
    }
    h2 {
        padding-top: 0px;
    }
    .block-item {
            background-color: rgba(218, 227, 243, 0.6);
            box-shadow: 5px 5px 15px grey;
            color: black;
            width: 250px;  
            height: 180px;
            text-align: center;
            display: inline-block;
            border: 0px solid gray;
            margin: 50px 30px;
            padding: 17px 30px;
            vertical-align: top;
    }   
    .block-item:hover {
        background-color: rgba(199, 208, 224, 0.6);
    }
    .background-container {
        height: 60vh;
        width: 100vw;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-image: url(https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_1280.jpg);
    }
    .text-overlay {
        position: absolute;
        height: 40%;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        background-color: rgba(218, 227, 243, 0.644);
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .blocktext-overlay {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }
</style>